@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.pic {
  display: flex;
  padding: 400;
}

a {
  text-decoration: none;
  background-color: none;
  /* opacity: 0.7; */
}

a:hover {
  text-shadow: 1px 1px 2px rgb(154, 1, 68), 0 0 25px rgb(255, 216, 9),
    0 0 5px rgb(154, 1, 68);
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* * {
  box-sizing: border-box;
} */

button:hover {
  /* background-color: #fb7756;
  border: 10px solid #e74645; */
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  /* border-radius: 0.35rem; */
}

/* .indexPic {
  /* background-image: url('/index.png'); */
/* background-size: cover; */
/* display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: column;
}  */
/* body.indexPic { */
/* background-image: url('/index.jpg');
  background-size: 100% 110%;
  background-repeat: no-repeat; */
/* height: 100vh;
  width: 100vw; */
/* height: 100%;
  width: 100%; */
/* display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: column;
} */
/* .indexPic {
  background-image: url('/index.jpg');
  background-size: 100% 110%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-height: 1000px;
  max-width: 1000px;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: column;
} */

.indexButton {
  flex-wrap: wrap;
  width: 400px;
  height: 100px;
  background: url('/buttonBack.jpg');
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 70px;
}

.planTripButton {
  flex-wrap: wrap;
  width: 200px;
  height: 100px;
  background: url('/buttonBack.jpg');
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
}

.planTripButton:hover {
  /* background-color: #fb7756;
  border: 10px solid #e74645; */
  box-shadow: 15px 15px 40px 20px rgb(255, 216, 9);
  /* border-radius: 0.35rem; */
}

.indexButton:hover {
  /* background-color: #fb7756;
  border: 10px solid #e74645; */
  box-shadow: 15px 15px 100px 70px rgb(255, 216, 9);
  /* border-radius: 0.35rem; */
}

/* .indexBlock {
  width: 2000px;
  margin: 30px 50px;
  background-color: rgba(255, 255, 255, 0.5);
} */

.headerWrap {
  display: flex;
  width: 100%;
  height: 158px;
  left: 0px;
  top: 0px;
  background: none;
  position: fixed;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}

.headerStyle {
  display: flex;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background: none;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white;
}

.headerPicsBlock {
  display: flex;
  justify-content: space-between;
  color: white;
}

.headerTitle {
  font-weight: lighter;
  font-size: 48px;
  color: #ffffff;
  /* margin-left: 300px; */
}

.headerPics img {
  width: 50px;
  height: 50px;
}

.headerPics img:hover {
  width: 50px;
  height: 50px;
  filter: drop-shadow(6px 6px 3px white);
}

.headerPics {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(154, 1, 68), 0 0 25px rgb(255, 216, 9),
    0 0 5px rgb(154, 1, 68);
  font-family: 'Open Sans', sans-serif;
}

.headerPics:hover {
  text-shadow: 1px 1px 2px rgb(154, 1, 68), 0 0 25px rgb(255, 216, 9),
    0 0 5px rgb(255, 216, 9);
}

.headerPicsBlock img:hover {
  filter: drop-shadow(9px 9px 15px white);
}

.indexFlex {
  display: flex;
  color: white;
  font-size: 80px;
  font-weight: 500;
  /* margin-top: -50px; */
  /* margin-bottom: 90px; */
  /* font-family: 'Homemade Apple', cursive; */
  font-family: 'Permanent Marker', cursive;
  margin-top: 150px;
}

.indexFlexSmall {
  display: small;
  color: white;
  font-size: 28px;
  font-weight: 500;
  /* margin-bottom: 50px; */
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.indexFlexBig {
  display: flex;
  color: white;
  font-size: 170px;
  font-weight: 500;
  margin-top: 10px;
  /* margin-bottom: 90px; */
  /* font-family: 'Homemade Apple', cursive; */
  font-family: 'Permanent Marker', cursive;
}

.footerStyle {
  display: flex;
  width: 100%;
  /* height: -100vh; */
  /* padding-bottom: -1000vh; */
  position: absolute;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  background: none;
  /* margin-top: -200px; */
  /* height: 158px;
  padding-bottom: -158px; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.iconbar {
  display: flex;
  width: 10vw;
  /* height: 10vh; */
  justify-content: space-between;
}

.iconbar img {
  margin-left: 200px;
  padding: 0px 0px -100px 170px;
}
.iconbar img:hover {
  filter: drop-shadow(6px 6px 3px white);
}

.text {
  font-size: 60%;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  /* margin: 10px 0 0 0; */
  display: flex;
  width: 40vw;
  justify-content: center;
}

.indexLocation {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.indexLocationItem1 {
  margin-top: 300px;
  width: 278px;
  height: 39px;
  border: 3px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: #e74645;
}
.indexLocationItem2 {
  margin-top: -5rem;
  width: 278px;
  height: 39px;
  border: 3px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: #e74645;
}
.indexLocationItem3 {
  width: 278px;
  height: 78px;
  background: #e74645;
  border: 10px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
}
.indexLocationItem4 {
  margin-top: 0.5rem;
  /* margin-bottom: 3rem; */
  width: 278px;
  height: 78px;
  background: #ffa3a3;
  border: 10px solid #ffa3a3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #e74645;
}

.registrationLocation {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.registrationLocationItem1 {
  margin-top: 2rem;
  width: 278px;
  height: 39px;
  border: 3px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: #e74645;
}
.registrationLocationItem2 {
  margin-top: -5rem;
  width: 278px;
  height: 39px;
  border: 3px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: #e74645;
}
.registrationLocationItem3 {
  margin-bottom: 8rem;
  width: 278px;
  height: 78px;
  background: #e74645;
  border: 10px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
}

.planTrip {
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
}

.planTripImg {
  margin-top: 100px;
  margin-left: 300px;
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}

/* .planTrip img {
  margin-right: 150px;
  margin-top: 10px;
  opacity: 0.8;
  border-radius: 20%;
  margin-right: 20px;
  margin-left: 20px;
} */

/* .planTripItem1 {
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 278px;
  height: 338px;
  font-weight: lighter;
  font-size: 36px;
  color: #e74645;
  background: #facd60;
  border: 10px solid #facd60;
}
.planTripItem2 {
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 278px;
  height: 338px;
  font-weight: lighter;
  font-size: 36px;
  color: #ffffff;
  background: #e74645;
  border: 10px solid #e74645;
}
.planTripItem3 {
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 278px;
  height: 338px;
  font-weight: lighter;
  font-size: 36px;
  color: #e74645;
  background: #fdfa66;
  border: 10px solid #fdfa66;
} */
.planTripItem4 {
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 278px;
  height: 338px;
  font-weight: lighter;
  font-size: 36px;
  color: #ffffff;
  background: #1ac0c6;
  border: 10px solid #1ac0c6;
}

/* .planTripButton {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .planTripButton button {
  flex-wrap: wrap;
  width: 138px;
  height: 78px;
  background: #e74645;
  border: 10px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
} */

.tripWishList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tripWishList div {
  margin-top: 170px;
  width: 580px;
  height: 61px;
  font-size: 36px;
  color: #ffffff;
  background: #1ac0c6;
  border: 10px solid #1ac0c6;
  text-align: center;
}

.tripWishList div {
  margin-top: 170px;
  width: 580px;
  height: 61px;
  font-size: 36px;
  color: #ffffff;
  background: #1ac0c6;
  border: 10px solid #1ac0c6;
  text-align: center;
}

.tripWishListCities {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-weight: lighter;
  font-size: 24px;
  color: #444646;
}

.planTripItem1:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.planTripItem2:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.planTripItem3:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.planTripItem4:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tripDate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .tripDateItem1 {
  flex-wrap: wrap;
  /* margin-top: 3rem;
  width: 278px;
  height: 39px;
  border: 3px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: #e74645; 
  text-align: center;
}  */

.tripDate button {
  margin-top: 256px;
  flex-wrap: wrap;
  width: 278px;
  height: 78px;
  background: #e74645;
  border: 10px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
}

.checkedCity {
  margin-top: 30px;
  margin-right: 70px;
  width: 139px;
  height: 39px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: url('/buttonBack.jpg');
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.checkedWeather {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background: #1ac0c6;
  border: 10px solid#1ac0c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.container {
  margin-top: 250px;
  width: 600px;
  /* margin: 100px auto; */
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 4px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #1ac0c6;
}
.progressbar li.active:before {
  border-color: #1ac0c6;
}
.progressbar li.active + li:after {
  background-color: #1ac0c6;
}

.planTripWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.planTripLocation {
  margin-top: 0;
  margin-left: -400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}

.locationButton {
  margin-top: 30px;
  margin-right: 5px;
  width: 139px;
  height: 39px;
  background: #e74645;
  border: 10px solid #e74645;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.locationButton:hover {
  /* background-color: #fb7756;
  border: 10px solid #e74645; */
  box-shadow: 15px 15px 100px 70px rgb(255, 216, 9);
  /* border-radius: 0.35rem; */
}

.locationButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.planTripTextSmall {
  /* margin-top: 150px;
  margin-bottom: 24px; */
  font-size: 80px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
}
.planTripTextBig {
  margin-top: -50px;
  font-size: 80px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
}

.liStyle {
  list-style-type: none;
  display: small;
  color: rgb(145, 22, 40);
  font-size: 28px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

/* .indexFlex {
  display: flex;
  color: white;
  font-size: 80px;
  font-weight: 500;
  margin-top: 170px;
  margin-bottom: 90px;
  font-family: 'Homemade Apple', cursive;
  font-family: 'Permanent Marker', cursive;
} */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.wrapImgPlanTrip {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.imagePlanTrip {
  display: block;
  width: 500;
  height: 300;
  border-radius: 10%;
}

.overlayImgPlanTrip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(146, 23, 41);
  border-radius: 10%;
}

.wrapImgPlanTrip:hover .overlayImgPlanTrip {
  opacity: 1;
}

.textOverlayPlanTrip {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.step1Wrap {
  margin-top: 0;
  margin-left: -400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}

.step1Block {
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
  margin-top: 300px;
}

.step1Img {
  margin-top: 300px;
  margin-left: 300px;
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
  height: 50vh;
  width: 30%;
}

.nextButton {
  margin-top: 30px;
  margin-right: 5px;
  width: 139px;
  height: 39px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: url('/buttonBack.jpg');
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.step2Wrap {
  margin-top: 0;
  margin-left: -400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
}

.step2Block {
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
  margin-top: 150px;
}

.step2Input {
  margin-top: 10px;
  width: 200px;
  height: 39px;
  border: 2px solid rgb(145, 22, 40);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: lighter;
  font-size: 24px;
  color: rgb(145, 22, 40);
  border-radius: 3%;
}

.step2List {
  margin-top: 10px;
  margin-left: 300px;
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
  height: 50vh;
  width: 30%;
}

.step2WrapButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
}

.step3List {
  margin-top: 300px;
  margin-left: 300px;
  /* margin-left: -100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: left;
  height: 50vh;
  width: 40%;
  margin-right: -300px;
}

.liStyleWeather {
  list-style-type: none;
  display: small;
  color: rgb(145, 22, 40);
  font-size: 22px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.tripWeather {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-weight: lighter;
}

.checkedWeather {
  margin-top: 0px;
  margin-right: 0px;
  width: 139px;
  height: 39px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: url('/buttonBack.jpg');
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
